<div class="alert alert-info text-center" role="alert" *ngIf="loading">
    <h4 class="alert-heading">Cargando...</h4>
    <p>
        <i class="fa fa-sync fa-spin fa-2x"></i>
    </p>
    <p class="mb-0"></p>
</div>
<div class="alert alert-danger text-center" role="alert" *ngIf="error">
    <h4 class="alert-heading">Error</h4>
    <pre>
        {{error | json}}
    </pre>
    <p class="mb-0"></p>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="!loading">
    <div class="card" *ngFor="let user of usuarios">
        <img [src]="user.avatar" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
            <p class="card-text">This is a longer card with supporting text. </p>
            <p class="card-text">
                <span class="text-muted">
                    ID: {{ user.id }}
                </span>
            </p>
        </div>
    </div>
</div>