<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">effects</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" aria-current="page" routerLink="home">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="usuario/1">Usuario</a>
                </li>
            </ul>
            <div class="d-flex">
                <input #txtInput (keyup.enter)="irUsuario(txtInput.value)" class="form-control me-2" type="search" placeholder="ID usuario">
                <button (click)="irUsuario(txtInput.value)" class="btn btn-outline-success" type="button">Buscar</button>
            </div>
        </div>
    </div>
</nav>